#main-page {
    display: flex;
    flex-direction: column;

    #headings {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        padding: 0 30px;

        :nth-child(1) {
            min-width: 5rem;
            // width: 15%;
            width: 200px;
        }

        :nth-child(2) {
            min-width: 5rem;
            // width: 18%;
            width: 230px;
        }

        :nth-child(3) {
            min-width: 5rem;
            // width: 21%;
            width: 300px;
        }

        :nth-child(4) {
            min-width: 5rem;
            // width: 22%;
            width: 230px;
            // text-align: center;
        }

        :nth-child(5) {
            min-width: 5rem;
            // width: 13%;
            width: 180px;
        }

        span {
            padding-left: 15px;
        }
    }

    .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .create-button {
            width: 170px;
            height: 50px;
            background: linear-gradient(to right, #fcb243, #ffcb5b);
            font-size: 14px;
            letter-spacing: 2px;
            font-family: "Open Sans", sans-serif;
            position: relative;
            line-height: 50px;
            display: block;
            text-align: center;
            box-shadow: 0 0 5px #fcb243;
            transition: all 0.2s ease;
            border-radius: 20px;
                
            &:hover {
                transition: all 0.3s ease;
                cursor: pointer;
                box-shadow: 0 0 12px #fcb243;
            }
            
        }
    }

    #account-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        .account-box {
            margin: 25px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100px;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.589);
            border-radius: 1rem;
            padding: .5rem 1.5rem;
            overflow: hidden;
    
    
            .account-title {
                display: flex;
                align-items: center;
                width: 200px;
    
                .account-icon {
                    margin-right: 10px;
                    max-width: 50px;
                    max-height: 70px;
                    padding: .5rem;
                }
            }
            
    
            .account-username, .account-password {
                display: flex;
                border-radius: 1rem;
                overflow: hidden;

                i {
                    min-width: 35px;
                }
            }

            .last-updated {
                width: 300px;
                text-align: center;
            }
    
            input {
                // background: #535353;
                // color: #ffffff;
                background: #2b2b2b;
                color: #8d8d8d;
                padding: 4px  10px;
                border: none;
                height: 50px;
                font-size: 16px;
                overflow: hidden; 
                // width: 100%; 
                box-sizing: border-box; 
                letter-spacing: 1px;
                width: 165px;
                outline: none;
                opacity: .7;
            }

            input::selection {
                background: #2b2b2b; /* WebKit/Blink Browsers */
            }

            input::-moz-selection {
            background: #2b2b2b; /* Gecko Browsers */
            }

            .button-group {
                display: flex;
                width: 180px;

                button {
                    background: linear-gradient(to right, #fcb243, #ffcb5b);
                    font-size: 14px;
                    letter-spacing: 2px;
                    font-family: "Open Sans", sans-serif;
                    position: relative;
                    width: 75px;
                    max-width: 220px;
                    line-height: 50px;
                    display: block;
                    text-align: center;
                    box-shadow: 0 0 5px #fcb243;
                    transition: all 0.2s ease;
                    border-radius: 20px;
                    bottom: 0;
                    margin: 35px auto;
                    
                    &:hover {
                        transition: all 0.3s ease;
                        cursor: pointer;
                        box-shadow: 0 0 12px #fcb243;
                    }
                }
            }
        }
    }
}

.tooltip {
    text-transform: uppercase;
    z-index: -3;
    opacity: 0;
    color:rgb(43, 180, 30);
}

.account-password input {
    margin: 0;
}

.account-password .copy, .watch, .account-username .copy {
    margin: 0;
    padding: 7px 5px 0 5px;
    border: none;
    background: #2b2b2b;
    opacity: .7;
    transition: opacity .1s;
    &:hover {
        opacity: 1;
        transition: opacity .1s;
    }
}

.account-username {
    margin-right: 40px;
}

.account-password .watch {
    padding: 0 15px;
} 

i {
    color: rgb(255, 255, 255);
}

.modal-content .modal-header {
    font-weight: 900;
    font-size: 25px;
    color: rgb(32, 32, 32);
}